<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QRCode Generator</title>
    <!-- MDUI CSS -->
    <link
            rel="stylesheet"
            href="https://www.layuicdn.com/layui-v2.6.4/css/layui.css"
    />

</head>
<body>

<!-- 导航条 -->
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="">QRCode Generator</a></li>
    </ul>
</div>

<!-- 数据输入, 二维码展示-->
<div>
    <div class="layui-bg-gray" style="padding: 50px;">
        <!-- 二维码 -->
        <div style="text-align: center;">
            <img id="QRCodeImage" src="/getImage?imageName=HelloWorld.png" alt="" style="width: 300px;height: 300px">
        </div>
        <!-- 参数设置 -->
        <div class="layui-row layui-col-space15" style="margin: 50px;">
            <div class="layui-col-md15">
                <div class="layui-panel">
                    <div style="padding: 50px 30px;">
                        <form class="layui-form" onsubmit="return false;">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">编码数据</label>
                                <div class="layui-input-block">
                                    <textarea name="Data" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">纠错级别</label>
                                <div class="layui-input-block">
                                    <select name="RSLevel">
                                        <option value="0">L 5%</option>
                                        <option value="1" selected="">M 15%</option>
                                        <option value="2">Q 25%</option>
                                        <option value="3">H 30%</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">二维码版本</label>
                                <div class="layui-input-block">
                                    <select name="QRVersion">
                                        <option value="0" selected="">Auto</option>
                                        <option value='1'>21 * 21</option>
                                        <option value='2'>25 * 25</option>
                                        <option value='3'>29 * 29</option>
                                        <option value='4'>33 * 33</option>
                                        <option value='5'>37 * 37</option>
                                        <option value='6'>41 * 41</option>
                                        <option value='7'>45 * 45</option>
                                        <option value='8'>49 * 49</option>
                                        <option value='9'>53 * 53</option>
                                        <option value='10'>57 * 57</option>
                                        <option value='11'>61 * 61</option>
                                        <option value='12'>65 * 65</option>
                                        <option value='13'>69 * 69</option>
                                        <option value='14'>73 * 73</option>
                                        <option value='15'>77 * 77</option>
                                        <option value='16'>81 * 81</option>
                                        <option value='17'>85 * 85</option>
                                        <option value='18'>89 * 89</option>
                                        <option value='19'>93 * 93</option>
                                        <option value='20'>97 * 97</option>
                                        <option value='21'>101 * 101</option>
                                        <option value='22'>105 * 105</option>
                                        <option value='23'>109 * 109</option>
                                        <option value='24'>113 * 113</option>
                                        <option value='25'>117 * 117</option>
                                        <option value='26'>121 * 121</option>
                                        <option value='27'>125 * 125</option>
                                        <option value='28'>129 * 129</option>
                                        <option value='29'>133 * 133</option>
                                        <option value='30'>137 * 137</option>
                                        <option value='31'>141 * 141</option>
                                        <option value='32'>145 * 145</option>
                                        <option value='33'>149 * 149</option>
                                        <option value='34'>153 * 153</option>
                                        <option value='35'>157 * 157</option>
                                        <option value='36'>161 * 161</option>
                                        <option value='37'>165 * 165</option>
                                        <option value='38'>169 * 169</option>
                                        <option value='39'>173 * 173</option>
                                        <option value='40'>177 * 177</option>
                                    </select>
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">二维码定位符颜色</label>
                                <div class="layui-input-inline" style="width: 120px;">
                                    <input type="text" value="" placeholder="请选择颜色" class="layui-input" id="FinderColor" name="FinderColor">
                                </div>
                                <div class="layui-inline" style="left: -11px;">
                                    <div id="FinderColor-Colorpicker"></div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">二维码数据区颜色</label>
                                <div class="layui-input-inline" style="width: 120px;">
                                    <input type="text" value="" placeholder="请选择颜色" class="layui-input" id="DataColor" name="DataColor">
                                </div>
                                <div class="layui-inline" style="left: -11px;">
                                    <div id="DataColor-Colorpicker"></div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">pixelSize</label>
                                <div class="layui-input-block">
                                    <select name="pixelSize">
                                        <option value="10" selected="">10</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">borderSize</label>
                                <div class="layui-input-block">
                                    <select name="borderSize">
                                        <option value="10" selected="">10</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">创建二维码</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


<script src="https://www.layuicdn.com/layui-v2.6.4/layui.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

<script>
    layui.use(['form', 'colorpicker'], function(){
        var form = layui.form;
        var colorpicker = layui.colorpicker;

        //表单赋值
        colorpicker.render({
            elem: '#FinderColor-Colorpicker'
            ,color: '#000000'
            ,done: function(color){
                $('#FinderColor').val(color);
            }
        });
        //表单赋值
        colorpicker.render({
            elem: '#DataColor-Colorpicker'
            ,color: '#000000'
            ,done: function(color){
                $('#DataColor').val(color);
            }
        });


        //监听提交
        form.on('submit(formDemo)', function(data){
            var data = JSON.stringify(data.field);
            console.log("提交参数: " + data);
            // layer.msg(data);
            $.ajax({
                type: "POST"
                ,data: data
                ,url: "/qrcode/"
                ,headers : {"Content-Type" : "application/json;charset=utf-8"},
                success: function(data) {
                    console.log(data);
                    if (data && data.status === "success"){
                        $("#QRCodeImage").attr("src", data.url);
                    }
                    layer.msg(data.status);
                },
                error: function () {
                    layer.msg("创建失败");
                }
            })

            return false;
        });
    });
</script>
</html>